
<md-sidenav ng-class="(menuCerrado)?'menu-principal-izq':''" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"   ng-include="'src/app/views/menu.html'"></md-sidenav>
<div layout="column" class="relative" layout-fill role="main" flex>
	
	<md-progress-linear  ng-if="cargando" class="md-warn" style="position:fixed; top: 0px; left:0px; z-index:999"  md-mode="indeterminate"></md-progress-linear>
	<md-toolbar >
		<div class="md-toolbar-tools" ng-init="index('/Alerta')">    
			<md-button hide-gt-md class="md-icon-button " ng-click="toggleMenu()" aria-label="Menu">
		  <md-icon md-svg-icon="menu" ></md-icon>
		    </md-button>   
			<h2>
			  <span>{{ 'NUEVO' | translate }}</span>
			</h2>
			<span flex></span>
            
            <span ng-include="'src/app/views/menu-opciones.html'"></span>
		</div>
	</md-toolbar>
	<md-content>
	

<form role="form" name="forma">
<md-content layout="column" class="imprimir"  layout-padding >
						
                <md-input-container flex >     <label>{{ 'NOMBRE' | translate }}</label>
                        <input required  name="nombre" ng-model="dato.nombre" minlength="3" maxlength="255">
                        <div ng-messages="forma.nombre.$error">
                          <div ng-message="required">{{ 'CAMPO_REQUERIDO' | translate }}</div>
                          <div ng-message="minlength">{{ 'CAMPO_MIN_L' | translate }} 3</div>
                          <div ng-message="maxlength">{{ 'CAMPO_MAX_L' | translate }} 255</div>
                        </div>
                </md-input-container>
            
          <md-content layout-padding>
            <h3>
            {{ 'COLOR' | translate }} <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </h3>
            <div layout>
              <div flex="10" layout layout-align="center top">
                <span class="md-body-1">{{'ROJO' | translate}}</span>
              </div>
              <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class="md-accent">
              </md-slider>
              <div flex="20" layout layout-align="center center">
                <md-input-container>
                <input flex type="number" ng-model="color.red" ng-init="color.red = 0" aria-label="red" aria-controls="red-slider" max="255" min="0">
                </md-input-container>
              </div>
            </div>
            <div layout>
              <div flex="10" layout layout-align="center top">
                <span class="md-body-1">{{'VERDE' | translate}}</span>
              </div>
              <md-slider flex ng-model="color.green" min="0" max="255" aria-label="green" id="green-slider" md-theme="altThemeg" class="md-primary">
              </md-slider>
              <div flex="20" layout layout-align="center center">
                <md-input-container>
                <input flex type="number" ng-model="color.green" ng-init="color.green = 0" aria-label="green" aria-controls="green-slider" max="255" min="0">
                </md-input-container>
              </div>
            </div>
            <div layout>
              <div flex="10" layout layout-align="center top">
                <span class="md-body-1">{{'AZUL' | translate}}</span>
              </div>
              <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
              </md-slider>
              <div flex="20" layout layout-align="center center">
                <md-input-container>
                <input flex type="number" ng-model="color.blue" ng-init="color.blue = 0" aria-label="blue" aria-controls="blue-slider" max="255" min="0">
                </md-input-container>
              </div>
            </div>
            </md-content>      
</md-content>
</form>      
<span ng-init="cargando = false;"></span> 
</md-content></div>